<section class="section skills">
  <div class="section__title">Skills</div>
  <div class="section__content">
    <!-- <p>I’ve picked up quite a few skills during the course of my three co-ops, and aim to improve these skills everyday. Here are a few of the technologies that I have experience with:</p> -->
    <div class="skillz">
      <div class="skillz__category">
        <div class="skillz__category__label">Languages</div>
        <ul>
          {% for language in site.data.skills.languages %}
          <li class="skillz__category__item">{{language.item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="skillz__category">
        <div class="skillz__category__label">Technologies</div>
        <ul>
          {% for technology in site.data.skills.technologies %}
          <li class="skillz__category__item">{{technology.item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="skillz__category">
        <div class="skillz__category__label">Organizations</div>
        <ul>
          {% for organization in site.data.skills.organizations %}
          <li class="skillz__category__item">{{organization.item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="skillz__category">
        <div class="skillz__category__label">Courses</div>
        <ul>
          {% for course in site.data.skills.courses %}
          <li class="skillz__category__item">{{course.item}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
